<!-- Extends the layout from /views/layout.html -->
{% extends 'layout.html' %}
<!-- 
  In /views/layout.html you can:
    - edit the header and footer 
    - add custom CSS and JavaScript
-->

<!-- Set the page title -->
{% block pageTitle %}
  Data Portal prototype
{% endblock %}

<!-- For adding a breadcrumb -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/breadcrumbs -->
{% block beforeContent %}
  {{ breadcrumb({
    href: "/",
    text: "Home"
  }) }}
{% endblock %}

<!-- For adding a back link -->
<!-- Code examples can be found at https://service-manual.nhs.uk/design-system/components/back-link -->
{% block outerContent %}
{% endblock %}

<!-- For adding page content -->
<!-- Page layout code can be found at https://service-manual.nhs.uk/design-system/styles/layout -->
{% block content %}

  <div class="nhsuk-grid-row">

    <div class="nhsuk-grid-column-two-thirds">

      {{ radios({
        "idPrefix": "role",
        "name": "role",
        "fieldset": {
          "legend": {
            "text": "Choose a role to login with",
            "classes": "nhsuk-fieldset__legend--xl",
            "isPageHeading": true
          }
        },
        "items": [
          {
            "value": "sample-taker",
            "text": "Sample taker"
          },
          {
            "value": "clerical-admin",
            "text": "Clerical admin"
          },
          {
            "value": "bio-medical-scientist",
            "text": "Bio-medical Scientist"
          },
          {
            "value": "csas-officer",
            "text": "CSAS Screening Officer"
          },
          {
            "value": "csas-manager",
            "text": "CSAS Screening Manager"
          },
          {
            "value": "csas-qa",
            "text": "CSAS Quality Assurance"
          }
        ]
      }) }}

      {{ button({
        "text": "Continue",
        "href": "search"
      }) }}

    </div>  

  </div>
{% endblock %}
